<div class="container">
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1>Compuder Scraper</h1>
        </div>
    </div>
    <div class="col-md-12 articles">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{link}}" target="_blank"><h4>{{title}}</h4></a>
                </div>
                <div class="panel-body">
                    <p>{{description}}</p>
                    <br><br>
                    <button type="button" class="btn btn-success save" data-id={{_id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Oops! We don't have any cool new compuder articles yet!</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>